%p#notice= notice
%h1 CMD (Cheatsheet Markdown)
= link_to 'New Sheet', new_sheet_path

%h3 Welcome to a repository of cheatsheets for programs written in markdown!

%p This website uses Github Flavored Markdown (GFM) to render HTML. As such, markdown files can be viewed in a text editor or rendered in a browser. Whichever you prefer.

%p 
  Because creating tables is a pain, I'd recommend you'd use this website to create markdown files: 
  = link_to "https://donatstudios.com/CsvToMarkdownTable", "https://donatstudios.com/CsvToMarkdownTable"

%p This website will soon have a tool that can generate markdown.

- @sheets.each do |sheet|
  %h1
    = link_to sheet.name, sheet
